.h-side {
    background-color: rgb(8, 2, 2);
    ul {
        border: 1px solid white;
        
        padding: 0;
    
        
    }
    li {
        text-align: left;
        border: 1px solid white;
        text-align: center;
        

    }
    a {
        color: white;
        font-size: 1rem;
        text-align: left;

    }

}